{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }]
  },
  "globals": {
    "shallow": true,
    "mount": true,
    "render": true,
    "expect": true,
    "test": true
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
