{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb",
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  },
  "env": {
    "node": true,
    "browser": true
  }
}